<h1>Recuperar Contrase침a</h1>

<p>Por favor, introduzca su direcci칩n de correo abajo y entonces presione "Recuperar Contrase침a".</p>

<%= form_tag password_resets_path do %>
  <%= text_field_tag :email %>
  <%= submit_tag "Recuperar Contrase침a" %>
<% end %>