<h1>Instrucciones para recuperar la contraseña</h1>

<p>
  Se ha llevado a cabo una petición para recuperar su contraseña. Si usted no ha hecho la petición, simplemente ignore este email. Si lo ha hecho siga el link que está abajo:
</p>

<%= @url %>