<% if @posts.size > 0 %>
<div><%= link_to 'Nuevo debate' , :action => 'post' %></div>
<p>
<%= display_like_a_tree @posts %>
</p>
<% else %>
No hay debates aún. <%= link_to 'Sé el primero en hacerlo' , :action => 'post' %>
<% end %>
<br/>
<%= will_paginate @posts, renderer: BootstrapPagination::Rails %>