<table>
  <tr>
    <th>Miniatura</th>
    <th>Gafas</th>
    <th>Editar</th>
    <th>Borrar</th>
  </tr>

  <%= render :partial => 'glasses', :collection => @glasses %>
</table>

<%= will_paginate @glasses, :page_links => false, :link_separator => ' | ', :previous_label => 'Página anterior', :next_label => 'Página siguiente' %><br>
<p><%= link_to 'Añade unas nuevas Gafas', :action => 'new' %></p>
