.centro{
  margin-left: 2%;
}
.field_with_errors input{
	border-color: red;
	background-color: #F7ADAD;
}
#shopping_cart {
  border-left: 3px solid #666;
  background: #aaa;
  position: fixed;
  bottom: 0;
  right: 0;
  width: 200px;
  height: 100%;
  padding: 5px 10px;
}
#shopping_cart ul,
#shopping_cart li {
  list-style: none;
  margin: 0;
  padding: 0; }
#shopping_cart h3 {
  padding-top: 4em;
}
#cart_notice {
  border: 2px solid #58A986;
  background: #B2FFD3;
  padding: 3px;
  position: absolute;
  top: 0;
  left: 10px;
}

#loginout {
  background: #ccc;
  padding: 8px;
  width: 100px;
  position: absolute;
  top: 50px;
  right: 200px;
}
body {
  background-color: #fff; color: #333;
}

#checkout fieldset {
  border-top: 1px solid #efefef;
  border-bottom: 1px solid #ccc;
  border-left: 1px solid #efefef;
  border-right: 1px solid #ccc;
  padding: 1em 1em 1em 1.5em;
  width: 300px;
  margin-bottom: 10px;
}

#checkout fieldset input {
  margin: 1px;
}

#checkout fieldset input:focus {
  background-color: #CCCCCC;
}

#checkout legend {
  font-weight: bold;
}

#checkout fieldset:hover {
  border: 1px solid #3A789D;
}

#order_card_verification_value {
  width: 50px;
}
