<tr>
  <td><%= link_to manufacturer.company_name, :action => 'show', :id => manufacturer %></td>
  <td><%= link_to 'Editar', :action => 'edit', :id => manufacturer %></td>
  <td>
    <%= button_to 'Delete', {:action => 'destroy', :id => manufacturer}, :confirm => "Are you sure you want to delete manufacturer #{manufacturer.name}?" %>
  </td>
</tr>
