<tr>
  <td><%= link_to manufacturer.company_name, :action => 'show', :id => manufacturer %></td>
  <td><%= link_to 'Editar', :action => 'edit', :id => manufacturer %></td>
  <td>
    <%= button_to 'Borrar', { :action=> 'destroy', :id=> manufacturer}, :method => :delete,
        :confirm => "¿Está seguro que desea eliminar al fabricante #{manufacturer.name}?" %>
  </td>
</tr>
