<table>
  <tr>
    <th>Fabricante</th>
    <th>Editar</th>
    <th>Borrar</th>
  </tr>

  <%= render :partial => 'manufacturer', :collection => @manufacturers %>
</table>

<%= will_paginate @manufacturers, renderer: BootstrapPagination::Rails %>
<p><%= link_to 'Añade un nuevo Fabricante', :action => 'new' %></p>
